<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
      <a href="https://tguerand.github.io/" class="btn">Homepage</a>
      <a href="https://tguerand.github.io/cv" class="btn">Resume</a>
      <a href="https://tguerand.github.io/research" class="btn">Research interest</a>
      <a href="https://tguerand.github.io/contact" class="btn">Contact</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSfnBj3piRWKm4R9ImAmjZgmVwycweC8wUebkRglmoOLrUtrRg/viewform?usp=pp_url&entry.2005620554=Tri&entry.1065046570=Gue&entry.1045781291=tri@gue.com&entry.1166974658=Hello+world">
        First name:<br>
        <input type="text" name="entry.2005620554" id="entry.2005620554"><br>
        Last name:<br>
        <input type="text" name="entry.1065046570" id="entry.1065046570"><br>
        Email:<br>
        <input type="text" name="entry.1045781291" id="entry.1045781291"><br>
        Message:<br>
        <input type="text" name="entry.1166974658" id="entry.1166974658">
        <input type="submit" value="Submit">
      </form>
      <script src="assets/js/jquery.min.js"></script>
      <script type="text/javascript">var submitted=false;</script>
      <script type="text/javascript">
      $('#gform').on('submit', function(e) {
        $('#gform *').fadeOut(2000);
        $('#gform').prepend('Your submission has been processed...');
        });
      </script>
      
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">You will find the source code <a href="https://github.com/tguerand/tguerand.github.io/">here</a>.</span>
      </footer>
    </main>
  </body>
</html>
